<link rel="stylesheet" href="../public/style/top-nav.css">
<script src="../public/js/top-nav.js" defer></script>

<nav class = "patient-top-nav">
    <a href="#" class="toggle-button">
        <span class="bar"> </span>
        <span class="bar"> </span>
        <span class="bar"> </span>    
    </a>    
    <div class = "nav-links" >
        <ul>
            <li><a href="">Dashboard </a> </li>
            <li><a href="">About Diabetes </a> </li>
            <li><a href="">About This Website </a> </li>
            <li><a href="">Record Health Data Today</a> </li>
            <li><a href="">Rank </a> </li>
            <li><a href="">Support Message History</a> </li>
            <li><a href="">History of Recording</a> </li>
        </ul>

    </div>

</nav>