
#list_horiz{
    display:flex;
    width:100%;
    list-style-type: none;
    justify-content:space-evenly;
}

#list_vert{
  list-style-type: none;
  justify-content:space-evenly;
}


.login_portal {  
    display: grid;
    background-color: #CDDCDB;
    grid-template-rows: 1fr 1fr 2fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-gap: 10px;
    width: 100vw;
    height: 100vh;
   
  }
  

  .home { 
    grid-row: 1;
    border-color: yellowgreen;
    border-style: solid;
    text-align: center;
}
  
  .login { 
    
    grid-row: 2;
    border-color: yellowgreen;
    border-style: solid;
    text-align: center;
}
  
  
  .details { 
    grid-row:3;
    border-color: yellowgreen;
    border-style: solid; 
    text-align: center;
}
  
  .authentication { 
    grid-row:4;
    border-color: yellowgreen; 
    border-style: solid;
    text-align: center;
}
  
  .submit { 
    grid-row:5; 
    border-color: yellowgreen;
    border-style: solid;
    text-align: center;
}
  
  .others { 
    grid-row:6;
    border-color: yellowgreen;
    border-style: solid;
    text-align: center;
 }
  
  .patient_portal { 
    grid-row:7; 
    border-color: yellowgreen;
    border-style: solid;
    text-align: center;
}

  @media screen and (max-width: 640px) {  /* page layout for phones */
    body {
        display: flex;
        flex-direction: column;
    }
}
