/*login portal css*/
#list_horiz{
    display:flex;
    width:100%;
    list-style-type: none;
    justify-content:space-evenly;

}


#list_vert{
  list-style-type: none;
  justify-content:space-evenly;
  line-height: 500%;
}

a:link, a:visited{
  text-decoration: none;
  color: #000;
}
a:hover, a:active{
  font-size: 120%;  
  color:#000;
}



.circle{
  height: 10px;
  width: 10px;
  border-radius:50%;
  margin-top: 20%;
  margin-left: 10%;
  align-items: center;
  
  background-color: #FFFFFF;
}

.circle:hover, .circle:active{
  background-color: pink;

}
.main_text{
  border-radius: 45px; 
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  text-align: center;
  align-items: center;
  padding-left: 3%;
  
  color: #000000;
}

.login_portal {  
    display: grid;
    background-color: #CDDCDB;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.2fr 0.5fr 1fr 0.5fr 0.2fr 0.2fr 0.2fr;
    gap: 10px;
    width: 100vw;
    height: 100vh;
   
  }
  
#login { 
  grid-row: 2;
  grid-column: 1/span 6;
  padding-right: 30%;
  padding-left: 30%;
}


#details { 
  grid-row:3;
  grid-column: 1/span 6;
  padding-right: 30%;
  padding-left: 30%;
}

#authentication { 
  grid-row:4;
  grid-column: 1/span 6;
  padding-left: 15%;
  padding-right: 20%;
}


#submit { 
  grid-row:5; 
  grid-column: 1/span 6;
  line-height: 200%;
  padding-right: 40%;
  padding-left: 40%;
  
}

#others { 
  grid-row:6;
  grid-column: 1/span 6;
  padding-right: 25%;
  padding-left: 20%;
}

#other_portal { 
  grid-row:7; 
  grid-column: 1/span 6;
  padding-right: 25%;
  padding-left: 25%;
}

@media screen and (max-width: 640px) {  /* page layout for phones */
  body {
      display: flex;
      flex-direction: column;
      font-size: 70%;
      
  }
}


/* Login_start.html */
.container {
  display: grid; 
  background-color: #CDDCDB;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 0.2fr 0.5fr 1.5fr 2fr; 
  gap: 20px 20px; 
}
.login_start_element {
  background-color: #CDDCDB;
  text-align: center;
  border-radius: 25px;
}
.login_start_box {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #F0F0F0;
}
#Diabetes\\\@Home {
  grid-area: 1 / 1 / 2 / 3;
}
#Back {
  grid-area: 1 / 6 / 2 / 7;
}
#Dark-Mode {
  grid-area: 1 / 5 / 2 / 6;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
}
#Patient {
  grid-area: 4 / 2 / 5 / 4;
  padding: 70px 0;
}
#Clinician {
  grid-area: 4 / 4 / 5 / 6;
  padding:70px 0;
}
#Subtitle {
  grid-area: 3 / 2 / 4 / 6;
}