@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
*{
    width: 1920px;
    height: 1080px;
    padding: 50px;
    margin: 20px;
    background-color: #CDDCDB; 
}


.home{

    position:absolute;
    width: 684px;
    height: 0px;
    left: 0px;
    top: 0px;
    font-family: 'Revalia';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 74px;
    display: flex;
    align-items: center;

    color: #505050;
}

.home2{

    position: absolute;
    width: 500px;
    height: 66px;
    left: 0px;
    top: 50px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 66px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #505050;
    background-color: transparent;
}

.video{
    position: absolute;
    width: 697px;
    height: 443px;
    left: 101px;
    top: 244px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
}

.link{
    position: absolute;
    width: 550px;
    height: 70px;
    left: 101px;
    top: 900px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
}
.link-word{
    background-color:transparent;
    color:#505050;
    font-size:30px ;
}

.informatin-header{
    position: absolute;
    width: 456px;
    height: 69px;
    left: 1053px;
    top: 250px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    font-size: 25px;
}

.informatin-content{
    position: absolute;
    width: 766px;
    height: 578px;
    left: 1053px;
    top: 450px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    font-size: 30px;
    line-height: 45px;
    align-items: center;
}


/* 
PAGE2 */

/* 
.page2-header1{
    position: absolute;
    width: 766px;
    height: 288px;
    left: 120px;
    top: 210px;
    font-size: 40px;

    background: #FFFFFF;
    border-radius: 30px;
}

.page2-staff{
    position: absolute;
    width: 545px;
    height: 264px;
    left: 180px;
    top: 319px;

    background: #F8F0F0;
    border-radius: 30px;
    font-size: 25px;
    line-height: 25px;
    display:flex;
    align-items: center;
    color: #000;
}

.page2-header2{
    position: absolute;
    width: 775px;
    height: 306px;
    left: 111px;
    top: 700px;

    background: #FFFFFF;
    border-radius: 30px;
    font-size: 40px;
    }

.page2-blank{
    position: absolute;
    width: 581px;
    height: 609px;
    left: 1183px;
    top: 319px;

    background: #FFFFFF;
    border-radius: 30px;
}

.page2-blank2{
    position: absolute;
    width: 439px;
    height: 445px;
    left: 1086px;
    top: 414px;
    background: #F8F0F0;
    border-radius: 30px;
    
}
.tips{

    position: absolute;
    width: 450px;
    height: 284px;
    left: 1270px;
    top: 409px;
    
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 600;
  
    line-height: 40px;
    display: flex;
    
    color: #000000;

    font-size: 40px;
    align-items: center;
    background-color: transparent;
    line-height: 50px;
}

.page2-link-image{
    position: absolute;
    width: 239px;
    height: 173px;
    left: 1525px;
    top: 686px;

    background-color: transparent;
}


.page2-info-content{
    
    position: absolute;
    width: 556px;
    height: 264px;
    left: 208px;
    top: 850px;
    background: #F8F0F0;
    border-radius: 30px;
    font-size: 32px;
    line-height: 45px;
} */

.page2-link-image{
    position: absolute;
    width: 239px;
    height: 173px;
    left: 1725px;
    top: 800px;

    background-color: transparent;
}



.blank{
    width: 823px;
    height: 782px;
    position: absolute;
    background: #FFFFFF;
    border-radius: 30px;
}

#page2-blank1{
 
    left: 60px;
    top: 205px;
}

#page2-blank2{
    
    left: 1129px;
    top: 205px;

}



.header{
    position: absolute;
   
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 53px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
    background-color: transparent;
}


#page2-header1{
    width: 595.56px;
    height: 53px;
    left: 150px;
    top: 242px;
}

#page2-header2{
    width: 628px;
    height: 284px;
    left: 160px;
    top: 541px;    
}
#page2-header3{
    width: 200px;
    height: 53px;
    left: 1129px;
    top: 242px;

}




.content{
    position: absolute;
    
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #000000;
    background-color: transparent;
}

#page-content1{
    width: 658.69px;
    height: 200px;
    left: 150.15px;
    top: 356px;
}

#page-content2{
    width: 628px;
    height: 284px;
    left: 160px;
    top: 650px;
}
#page-content3{
    width: 504px;
    height: 389px;
    left: 1229px;
    top: 356px;
}
/*.main{
    position: absolute;
    font-family: 'Revalia';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 74px;
    display: flex;
    align-items: center;
} */



.back{
    position: absolute;
    width: 100px;
    height: 96px;
    left: 1700px;
    top: 18px;
}

/*.page2-link-image2{
    font-family: 'Roboto Slab';
    font-style: normal;
    position: absolute;
    width: 100px;
    height: 96px;
    left: 1700px;
    top: 18px;
    background-color: transparent;

}*/



.title{
    position: absolute;
    width: 857px;
    height: 423px;
    left: 350px;
    top: 147px;

    font-family: 'Revalia';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 99px;
    display: flex;
    align-items: center;

    color: #505050;
    background-color: transparent;

}

.title2{
    position: absolute;
    width: 707px;
    height: 62px;
    left: 341px;
    top: 508px;

    font-family: 'Revalia';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;

    display: flex;
    align-items: center;

    color: #000000;
    background-color: transparent;
}

.start_page_blank_2{
    position: absolute;
    width: 1228px;
    height: 1195px;
    left: -403px;
    top: -328px;
    border-radius: 0 0 1000px 0;

    background: #FFF3F3;
}
.start_page_blank_3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    
    position: absolute;
    width: 775px;
    height: 726px;
    left: 628px;
    top: 74px;
    background: rgba(202, 220, 234, 0.5);
    border-radius: 50%;
}

.start_page_blank_4{
    position: absolute;
    width: 565px;
    height: 480px;
    left: 420px;
    top: 620px;
    border-radius: 50%;

    background: rgba(175, 185, 210, 0.5);
}
.start_page_blank_5{
    position: absolute;
    width: 494px;
    height: 402px;
    left: 909px;
    top: 722px;

    border-radius: 50%;
    background: rgba(229, 229, 229, 0.9);
    opacity: 0.4;
}
.blank_mode{
    position: absolute;
    width: 319px;
    height: 89px;
    left: 1556px;
    top: 58px;
    background: rgba(205, 220, 219, 0.7);
}
.mode{
    position: absolute;
    width: 240px;
    height: 43px;
    left: 1589px;
    top: 81px;

    font-family: 'Revalia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #505050;
}