@import url("header-grid.css");
html {font-size: 2vw;}

.header-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  }
  .date{
    grid-area: 1/4/2/5;
  }
  

td input{
    width:100%;
    height: 100%;
    border-radius: 45px;
    background-color: transparent;
}

.flex_container{
    background-color:  #CDDCDB;
    display: grid;
    grid-template-areas:
    'top_left top_left top_middle_left top_middle_left1 top_right top_right_1'
    'top_left top_left top_middle_left top_middle_left1 top_right top_right_1'
    'main3 main3 main3 main3 main2 main2'
    'main3 main3 main3 main3 main1 main1'
    'main3 main3 main3 main3 main1 main1'
    'main3 main3 main3 main3 main1 main1'
    'main3 main3 main3 main3 main1 main1'
    'main3 main3 main3 main3 main1 main1';
    grid-gap: 10px;
    padding:1vw;
    padding-left: 1vw;
    width: 96vw;
    height: 200vh;
}

.mode_background{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px; 
    background-color: white ;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
 
}



.main_part{
  grid-area: main3 /span main3/span main3 ;
  
}

.note_content{
    grid-area: main1 /span main1/span main1;
    position: fixed; 
    top: 45vh;
    right: 8vw;
    font-size: 2vw;
}



table, th, td {
  border: 10px;
  padding: 1vw;
  font-size: 2vw;
}

.note{
    padding: 1vw;
    text-align: center;
    background: #FFF7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    height: 50vh;
    width: 40vw;
}
.grey_block{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px; 
    background-color: white ;
    text-align: center;

    
}