@import url("header-grid.css");
@import url("patient_details\(clinican\).css");
/*login portal css*/

body { 
  background-color: #CDDCDB;
  box-sizing: border-box;
  font-family: 'Roboto Slab';
}

a:link, a:visited{
  text-decoration: none;
  color: #000;
}
a:hover, a:active{
  font-size: 120%;  
  color:#000;
}

#list_horiz{
    display:flex;
    width:50vw;
    list-style-type: none;
    justify-content:space-around;
    align-content: center;
    margin: auto;
}
#list_horiz li {
  margin-left: 30%;
  margin-right:30%;
  margin-bottom:2%;
  margin-top:2%;
}


#list_vert {
  list-style-type: none;
  justify-content:space-around;
  display: flex;
  flex-direction: column;
  align-content: center;
 }


.circle{
  height: 1.5vh;
  width: 1vw;
  border-radius:50%;
  margin-left: 5%;
  align-items: center;
  
  background-color: #FFFFFF;
}
.main_text{
  border-radius: 45px; 
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  text-align: center;
  align-items: center;  
  color: #000000;
}

.main_text li{
  padding:3%;
}

.login_portal {  
    display: grid;
    background-color: #CDDCDB;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.1fr 1fr 0.5fr 0.1fr 0.1fr 0.1fr;
    width: 100vw;
    height:70vh;
    margin:auto;
   
  }
  
#login { 
  grid-row: 1;
  grid-column: 1/span 6;
  margin: auto;
}


#details { 
  grid-row:2;
  grid-column: 1/span 6;
  width:50vw;
  margin: auto;
}

#authentication { 
  grid-row:3;
  grid-column: 1/span 6; 
}


#submit { 
  grid-row:4; 
  grid-column: 1/span 6;
  width:20vw;
  margin: auto;
  
}

#others { 
  grid-row:5;
  grid-column: 2/span 4;
 
}

#other_portal { 
  grid-row:6; 
  grid-column: 1/span 6;
  margin: auto;
 
}

@media screen and (max-width: 640px) {  /* page layout for phones */
  body {
      display: flex;
      flex-direction: column;
      font-size: 70%;
      
  }
  .login_portal{
    display: flex;
    flex-direction: column;
    font-size: 70%;

  }
  .circle{
    height: 1.5vh;
    width: 3vw;
  }
  

}


/* Login_start.html */
.container {
  display: grid; 
  background-color: #CDDCDB;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 0.2fr 0.5fr 1.5fr 2fr; 
  gap: 10px; 
}
.login_start_element {
  background-color: #CDDCDB;
  text-align: center;
  border-radius: 25px;
}
.login_start_box {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #F0F0F0;
  box-sizing: 2em;
}
#Diabetes\\\@Home {
  grid-area: 1 / 1 / 2 / 3;
  /* background-color: aqua; */
}
#Back {
  grid-area: 1 / 6 / 2 / 7;
  /* background-color: aqua; */
}
#Dark-Mode {
  grid-area: 1 / 5 / 2 / 6;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  /* background-color: aqua; */
}
#Patient {
  grid-area: 4 / 2 / 5 / 4;
  padding: 70px 0;
}
#Clinician {
  grid-area: 4 / 4 / 5 / 6;
  padding:70px 0;
}
#Subtitle {
  grid-area: 3 / 2 / 4 / 6;
}