<link rel="stylesheet" href="../public/style/login.css">


<form action="/home/changePassword" method="POST">
<div class="login_portal">
    <div class="login_start_element main_text" id="login">
        Change password
    </div>
    
        <div class = "main_text" id="details">
            <ul id ="list_vert">
                <li >
                    <label for="old">Current Password:</label>
                 </li>
                <li>
                     <input class= "login_start_element login_start_box " 
                     type = "password" name="old" placeholder="Please enter current password" required> </input>
                </li>
                <li>
                    <label for="new">New Password: </label>
                </li>
                <li>
                    <input class= "login_start_element login_start_box" 
                    type = "password" name="new" placeholder="Please enter new password" required> </input>
                </li>
                <li>
                    <label for="confirm">Confirm Password: </label>
                </li>
                <li>
                    <input class= "login_start_element login_start_box" 
                    type = "password" name="confirm" placeholder="Please enter new password" required> </input>
                </li>
            </ul>
        </div>
        {{#if Message }}
        <div id="others">
            <div class= "login_start_element" >
                   {{Message}}
            </div>
        </div>
        {{/if}}
    
        <div class = "main_text" id="change">
            
            <button type="sumbit">change</button><br />
            
        </div>

</div>
</form>