
<link rel="stylesheet" href="../public/style/clinician-comment.css">
<link rel="stylesheet" href="../public/style/header-grid.css">




<div class = "clinician-comment-wrapper">

    <aside id = "user-img">
        <img src="public/image/avatar/images.jpg" alt="user image">
        <figcaption>Alice Cambell</figcaption>
    </aside>

    <aside id = "user-info">
        <ul>
            <li>weight (in kg)  : </li>
            <li>exercise (step count) : 0</li>
            <li>doses of insulin taken : 1</li>
        </ul>

    </aside>
    <div class="comment-section">
        <h3>All Comments:</h3>
        <ul>
            <li>“I tested my blood pressure.” time data</li>
            <li>“I went for a walk today!”time data</li>
            <li>“I feel better now.”time data</li>

            <li>“I have blurry visions these days.”time data</li>
            <li>...............................time data</li>              
            <li>...............................time data</li>
            <li>...............................time data</li>
            <li>...............................time data</li>
            
        </ul>
    </div>
    <aside class = "support-message">
        <form action="">
            <label for="support-mes"></label>
            <textarea name="support-mes" id="support-mes" cols="30" rows="10">
                Support&nbspMessage:
            </textarea>
            <input type="submit" value="Submit">
        </form>
    </aside>
        
</div>


    
