<link rel="stylesheet" href="../public/style/clinical_note_history.css">

<div class="flex_container">
    
    <div class = "main_part">
        <table style="width:88%">
            <tr>
                <th input type="text">Alice Cambell</th>
            </tr>
            <tr>
                <td class="grey_block">5/11/2021 <br>
                3 : 14 PM</td>
            </tr>
            <tr>
                <td class="grey_block">5/11/2021 <br>
                3 : 14 PM</td>
            </tr>
            <tr>
                <td class="grey_block">5/11/2021 <br>
                3 : 14 PM</td>
            </tr>
            <tr>
                <td class="grey_block">5/11/2021 <br>
                3 : 14 PM</td>
            </tr>
            <tr>
                <td class="grey_block">5/11/2021 <br>
                3 : 14 PM</td>
            </tr>
            <tr>
                <td class="grey_block">5/11/2021 <br>
                3 : 14 PM</td>
            </tr>
            <tr>
                <td class="grey_block">5/11/2021 <br>
                3 : 14 PM</td>
            </tr>
            <tr>
                <td class="grey_block">5/11/2021 <br>
                3 : 14 PM</td>
            </tr>
        </table>
    </div>

    <div class="note_content">
        <div class="note" >
            <p> 16/04/2021   4 : 30 PM<p>
            <p>Alice is having some minor 
                headaches and have started swimming for 
                average of 30 minitus every day.
            </p>    
        </div>

    </div>


