
 <link rel="stylesheet" href="../public/style/Dashboard_clinician.css">

<div>
    <h2 id="Title">Clinician Dashboard</h2>
    <h2 id="Title-comments">New comments:</h2>
    <div class="Patient">
        <a href="patient_details(clinican).html" class="Avatar login_start_box" style="background-color: #E9F3FF;">
            <img class="Avatar_img" src="public/image/avatar/images.jpg" alt="user avatar">
            <p class="main_text">Alice Cambell</p>
            <p class="update_status">partially updated</p>
        </a>
        <div  class="Data-block">
            <div class="Data login_start_box" style="background-color: #F0F0F0;">
                <a href="static/patient_details(clinican).html"><p>weight (in kg)  : </p></a>
            </div>
            <div class="Data login_start_box" style="background-color: #DFF1F0;">
                <a href="static/patient_details(clinican).html"><p>insulin taken (number of doses) : 1</p></a>
            </div>
            <div class="Data login_start_box" style="background-color: #ffbaa9;">
                <a href="static/patient_details(clinican).html"><p>exercise (step count) : 0</p></a>
            </div>
        </div>
        <div class="New-comments">
            <a href="static/clinician-comment.html"><p>“I didn’t excerised today”</p></a>
        </div>
    </div>

    <script type="text/javascript", src="Dashboard_clinician.js"></script>

</div>
    
