<link rel="stylesheet" href="../public/style/login.css">
{{!-- <link rel="stylesheet" href="../public/style/header-grid.css">
<link rel="stylesheet" href="../public/style/patient_details(clinican).css"> --}}

<div class="login_portal">
    <div class="login_start_element main_text" id="login">
        Patient Portal
    </div>
    
    <form action="/home/login_patient" method="post">
        <div id="details">
            <ul id = "list_vert">
                <li >
                    <input class= "login_start_element login_start_box" style="text-align: left; border-radius: 45px; padding-left: 3%; " name = "user_id" value="{{user_id}}" type ='text'>userid: </input> </li>
                <li>
                    <input class= "login_start_element login_start_box" style="text-align: left; border-radius: 45px; padding-left:3%; " name="password">password: </input> </li>

            </ul>
        </div>

        <div id="authentication">
            <ul id="list_horiz" >
                <li> 
                    <p class= "login_start_element login_start_box main_text" style="background-color: #F5E8E5; ">
                        <a href="#"> send authentication code</a>
                    </p>
                </li>
                <li ><p class= "login_start_element login_start_box main_text" style="color: #919191; ">
                    ENTER HERE
                </p> </li>
                
            </ul>
        </div>
    
        <div id="submit">
            <p class= "login_start_element login_start_box main_text">
                <button type="sumbit">login</button>
            </p>
        </div>
    </form>


    <div id="others">
        <ul id="list_horiz">
            <li >
                <div class= "login_start_element main_text" style="display:flex;">
                    Remember me
                    <div class="circle" >
                        <a href="#"> </a>
                    </div>
                </div>
            </li>
            <li class= "login_start_element main_text" >
                Forgot password?
            </li>
        </ul>
    </div>

    <div class="login_start_element" id="other_portal">
        <a href="/clinician portal" style="color:#505050">not a patient? go to CLINICIAN PORTAl</a>
    </div>

</div>