<link rel="stylesheet" href="../public/style/patient-dashboard.css">
<link rel="stylesheet" href="../public/style/header-grid.css">



<div class = "main-grid">
    
    <div class = "patient-info">
        <p>You are doing so good!  Alice😊</p>

        <div class = "image-and-button">
            
            <div class = "photo"> 
                <img src="../public/image/avatar/images.jpg" alt="user image">
                <figcaption>{{patients.screenName}}</figcaption>
            </div>

            <div class = "buttons">
                <button>Edit Profile Image</button>
                <br>
                <button>Edit Profile</button>  
                <br> 
                <img src="public/image/medal 1.png" alt="">                 
            </div>
        </div>     

    </div>

    <nav class = "patient-nav">
        <ul>
            <li><a href="/record_health_data">Record Health Data Today</a> </li>
            <li><a href="">Rank </a> </li>
            <li><a href="">Support Message History</a> </li>
            <li><a href="/history_recording">History of Recording</a> </li>
        </ul>
    </nav>
</div>

