
<link rel="stylesheet" href="../public/style/patient_details(clinican).css">
<link rel="stylesheet" href="../public/style/login.css">
<link rel="stylesheet" href="../public/style/header-grid.css">


        
<div class="patient_details_container">
    <div class="login_start_element" id="subtitle">
        <h3 style = "text-align: left;">Clinican</h3>
    </div>

    <div class="login_start_element"id="health_history">
        <h4>
            <a href="#">Patient health history</a>
        </h4>
    </div>

    <div class= "login_start_element"id="note_history">
        <h4>
            <a href="#">Clinical note history</a>
        </h4>

    </div>

    <div class = "login_start_element" id="notes">
        <table>
            <tr >
            <th>Patient name:</th>
            <td class="login_start_box" style="border-radius:45px;">Alice Cambell </td>
            </tr>

            <tr>
            <th>Clinical Notes:</th>
            <td class="login_start_box" style="border-radius:45px;">figures looking good</td>
            <td class="login_start_box" style="border-radius:45px; width:5vw;">  <a href="#" >edit</a></td>
            </tr>

            <tr>
            <th>Support message:</th>
            <td class="login_start_box" style="border-radius:45px;">You are doing so good Alice!</td>
            <td class="login_start_box" style="border-radius:45px; width: 5vw;"> <input type="submit" value="submit">edit</input></td>
            </tr>

        </table>
    </div>

    <div class="login_start_element" id = "data">
        <table>
            <thead>
                <tr>
                    <th>Health data</th>
                    <th>Today's data</th>
                    <th>Safety thresholds (MIN)</th>
                    <th>Safety thresholds (MAX)</th>

                <tr>
            </thead>
            
            <tbody>
                
                <tr>
                    <td class="login_start_box" id = "dangerous" >weights (in kg): </td>
                    <td class="login_start_box" style="border-radius:45px;">45</td>
                    
                    <td class="login_start_box" style="border-radius:45px;">60</td>
                    <td class="login_start_box" style="border-radius:45px;">75</td>
                    
                </tr>
            
                <tr>
                    <td class="login_start_box safe" id ="safe"  >doses of insulin taken (number of doses) : </td>
                    <td class="login_start_box" style="border-radius:45px;">1</td>
                    
                    <td class="login_start_box" style="border-radius:45px;">1</td>
                    <td class="login_start_box" style="border-radius:45px;">3</td>
                    
                </tr>

                <tr>
                    <td class="login_start_box safe" id = "safe">exercise (step count):</td>
                    <td class="login_start_box" style="border-radius:45px;">5000</td>
                    
                    <td class="login_start_box" style="border-radius:45px;">4000</td>
                    <td class="login_start_box" style="border-radius:45px;">6000</td>
                    
                </tr>
            </tbody>

        </table>
    </div>

    <div class="login_start_element login_start_box" id="edit">
        <button   onclick= "window.location.href = 'edit_patient_record'" name="edit">edit</button>
    </div>

</div>
