<link rel="stylesheet" href="../public/style/patient-dashboard.css">

<form method="POST" action="/home/logout">
<button>Logout</button>
</form>
<div class = "main-grid">
    
    <div class = "patient-info">
        <p>{{patient.supportMessage}}</p>

        <div class = "image-and-button">
            
            <div class = "photo"> 
                <img src="../public/image/avatar/images.jpg" alt="user image">
                <figcaption>{{patient.screenName}}</figcaption>
            </div>

            <div class = "buttons">
                <button>Edit Profile Image</button>
                <br>
                <button>Edit Profile</button>  
                <br> 
                <img src="../public/image/medal 1.png" alt="this is badge">                 
            </div>
        </div>     

    </div>

    <nav class = "patient-nav">
        <ul>
            <li><a href="/home/record_health_data">Record Health Data Today</a> </li>
            <li><a href="">Rank </a> </li>
            <li><a href="">Support Message History</a> </li>
            <li><a href="">History of Recording</a> </li>
        </ul>
    </nav>
</div>

