

    <link rel="stylesheet" href="../public/style/login.css">
    <link rel="stylesheet" href="../public/style/header-grid.css">
    <link rel="stylesheet" href="../public/style/edit_patient_record.css">




<div class="container">

    <div class="list">
        
        <div class="B">
            <p>Comment</p>
        
        </div>
        
        <div class="t1">
            <p>weigth(kg):</p>
        </div>
        
        <div class="t2">
            <p>doses of insulin taken:<br>
            (number of dose)</p>
        </div>

        <div class="t3">
            <p>exercise(step count):</p>
        </div>

        <div class="r11">
            <p class="box">...</p>
        </div>

        <div class="r12">
            <p class="box">...</p>
        </div>

        <div class="r21">
            <p class="box">1</p>
        </div>
        <div class="r22">
            <p class="box">...</p>
        </div>
        <div class="r31">
            <p class="box">0</p>
        </div>
        <div class="r32">
            <p class="box" id ="#no_exercise">i didn't exercise</p>
        </div>

        
        <div class="r42">
            <p >13/03/2022</p>
        </div>

        <div class="s1">
            <p class="box" id ="pink_box">submit</p>
        </div>

        <div class="Hint">
            Today's recording
        </p>
    </div>
        
        
    </div>

    <div class="subtitle">
        <h3>Recording Health Data</h3>
    </div>

    <div class="recording">
        <a href="History_of_recording_(clinician).html">History of Recording</a>
    </div>

    

    <div class="photo">
        <img src="../public/image/avatar/images.jpg" alt="user image">
                <figcaption>Alice Cambell</figcaption>
    </div>


    
</div>
